*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    font-family: Inter, system-ui, sans-serif;
    color: #fff;
    background-image: url('./images/bg-dark.svg');
    background-color: #08090B;
    background-repeat: no-repeat;
    background-size: cover;
    }

/* navbar styling */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 10rem;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(24px);
    z-index: 10;
}

.left-part img{
    cursor: pointer;
    width: 100px;
}

.middle-part{
    margin-left: 6rem;
}

.middle-part ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.middle-part ul li{
    list-style-type: none;
    margin-bottom: 3px;
    padding: 4px 3px;
    border-radius: 20px;
}

.middle-part ul li:hover{
    background-color: rgba(255, 255, 255, 0.054);
}

.middle-part ul li a{
    padding: 4px 12px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}


.right-part button{
    padding: 8px 16px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

#contact-sales{
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.04);
    color: #fff;
}

#primary-cta:hover{
    background-color: #D9DADD;
}


/* hero */
.hero-section{
    width: 78%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-section .agent-popup{
    margin-bottom: 2.6rem;
    padding: 4px 8px 4px 4px;
    background-color: rgba(255, 255, 255, 0.176);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agent-popup button{
    border: none;
    background-color: #009e64;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}

.agent-popup a{
    text-decoration: none;
    color: #fff;
    margin: 0px 10px;
}

.agent-popup span{
    display: inline-block;
    color: black;
    font-size: 9px;
    padding: 1.8px;
    border-radius: 50%;
    background-color: #fff;
}


.hero-section h1{
    font-size: 3.6rem;
    font-weight: 600;
}

.hero-section p{
    font-size: large;
    margin-top: 1.6rem;
    line-height: 1.8rem;
}

.secondary-cta{
    margin-top: 2rem;
    width: fit-content;
    position: relative;
    margin-bottom: 6rem;
}

.secondary-cta input{
    padding: 12px 18px;
    font-size: 15px;
    border-radius: 25px;
    width: 22.5rem;
    background-color: rgba(212, 212, 212, 0.186);
    backdrop-filter: blur(15px);
    border: 1.6px solid rgba(212, 212, 212, 0.186);
    outline: none;
    color: #fff;
}

.secondary-cta button{
    padding: 8px 12px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    position: absolute;
    right: 6px;
    top: 5.8px;
    background-color: #fff;
    cursor: pointer;
}

/* hero image card */
#hero-image-card{
    border-top: 3px solid rgba(255, 255, 255, 0.108);
    border-left: 2px solid rgba(255, 255, 255, 0.052);
    border-right: 2px solid rgba(255, 255, 255, 0.049);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}



/* company logos section */
.trusted-by-logos{
    width: 78%;
    margin: 0 auto;
}

.logos{
    margin: 4rem;
    padding: 2rem 3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    margin-bottom: 6rem;
}

.logos picture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* intelligent assistant section*/
.intelligent-assistant{
    width: 78%;
    margin: 0 auto;
}

.intelligent-heading{
    text-align: center;
}

.intelligent-heading h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.intelligent-assistant p{
    color: #a3a3a3;
    line-height: 1.5rem;
    font-size: 16px;
}

.ai-card-container{
    margin-top: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.ai-card{
    width: 32rem;
    border: 1.5px solid #80808032;
    border-radius: 25px;
    padding: 2rem;
}

.intelligent-assistant strong{
    font-size: 13px;
    font-weight: 600;
    color: #18E299;
}

.intelligent-assistant h3{
    margin: 1.2rem 0rem;
    font-size: x-large;
    font-weight: 500;
}

.ai-card .ai-image{
    margin-top: 2rem;
    text-align: center;
}

.ai-card .ai-image img{
    width: 440px
}

.ai-bottom-card{
    margin: 1.4rem 4rem 8rem 4rem;
    border: 1.5px solid #80808032;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}

.ai-bottom-card img{
    margin-top: 2rem;
    width: 1000px;
}

/* Enterprise Features section */
.enterprise-feature{
    background-color: #151616;
    padding: 5rem;
}
.enterprise-feature-content{
    width: 78%;
    margin: 0px auto;
    padding: 1.4rem;
}
.enterprise-feature strong{
    font-size: 12.5px;
    color: #18E299;
}

.enterprise-feature h2{
    margin: 1rem 0rem;
    font-size: 2.4rem;
}

.enterprise-feature p{
    color: #a3a3a3;
    line-height: 1.5rem;
    font-size: 16px;
}

.para-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.para-btn button{
    padding: 0.7rem 1.4rem;
    font-size: 16px;
    border: none;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
}

.para-btn button:hover{
    background-color: #D9DADD;
}

.enterprise-box-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.enterprise-box img{
    width: 30px;
}

.enterprise-box h3{
    font-size: 21px;
    margin: 1.5rem 0rem 1rem 0rem;
}

.anthropic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enterprise-feature .anthropic img{
    border-radius: 25px;
    margin-top: 4rem;
}

.enterprise-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.enterprise-logo img{
    width: 110px;
    cursor: pointer;
}

#antro_img{
    width: 160px;
}
#at-t_img{
    width: 80px;
}


/* custormer stories section */
.customer-stories{
    width: 78%;
    margin: 0 auto;
}

.customer-heading{
    margin-top: 6rem;
    text-align: center;
}

.customer-heading strong{
    font-size: 12.5px;
    font-weight: 600;
    color: #18E299;
}

.customer-heading h2{
    font-size: 2.5rem;
    margin: 1rem;
}

.customer-heading p{
    color: #a3a3a3;
    line-height: 1.5rem;
    font-size: 16px;
}

.card-container{
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    /* width: 20rem; */
    width: 33%;
    cursor: pointer;
}

.card img{
    width: 100%;
    border-radius: 20px;
}

.card p{
    color: #a3a3a3;
    line-height: 1.4rem;
    font-size: 16px;
    margin: 1rem 0rem;
}

.card a{
    text-decoration: none;
    color: #a3a3a3;
    display: flex;
    align-items: center;
    gap: 6px;
}

.card a span{
    font-size: 12px;
}

.card a:hover{
    color: #009e64;
}

.slider-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem;
    margin-bottom: 10rem;
}

.slider-btns button{
    font-size: 16px;
    padding: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.slider-btns #left-side{
    background-color: #808080;
}


/* final call to action (cta) */
.final-cta-section{
    box-shadow: inset 0px -200px 210px 6px #151616;
}

.final-cta-content{
    width: 78%;
    margin: 0 auto;
}

.final-cta{
    text-align: center;
}

.final-cta h2{
    font-size: 2.4rem;
}

.final-cta p{
    margin: 1rem 0px;
}

.final-cta .btn{
    margin-top: 2.2rem;
    padding: 1rem;
}

.final-cta button{
    padding: 0.7rem 1.6rem;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: 540;
    cursor: pointer;
}

.final-cta #demo-btn{
    background-color: transparent;
    border: 1.4px solid rgba(255, 255, 255, 0.195);
    color: #fff;
}

#final-cta-btn:hover{
    background-color: #D9DADD;
}

#demo-btn:hover{
    background-color: #ffffff1c;
}


.box-container{
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}

.box{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box img{
    width: 56px;
    border: 1.6px solid rgba(255, 255, 255, 0.125);
    border-radius: 20px;
}

.box h3{
    font-weight: 600;
    margin-top: 1.8rem;
}

.box p{
    margin-top: 0.8rem;
}

.box button{
    margin-top: 2.4rem;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    color: #18E299;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.box button span{
    display: inline-block;
    font-size: 12px;
}


#hr{
    background-color: rgba(129, 129, 129, 0.134);
    width: 1px;
}



.long-hr{
    background-color: rgba(129, 129, 129, 0.157);
    height: 1px;
    width: 100%;
}
/* footer section */

footer{
    background-color: #151616;
}

.footer-content{
    width: 70%;
    margin: 0 auto;
    border-right: 1px solid rgba(129, 129, 129, 0.157);
    border-left: 1px solid rgba(129, 129, 129, 0.157);
}

.top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 1.4rem 2rem;
    border-bottom:1px solid rgba(129, 129, 129, 0.157);
}

.top-footer img{
    width: 100px;
}

.top-footer .social-icon a{
    font-size: 18px;
    color: #808080;
    margin-right: 10px;
}


/* main footer */
.main-footer{
    display: flex;
    justify-content: space-around;
    padding: 4rem 1.6rem;
    border-bottom: 1px solid rgba(129, 129, 129, 0.157);
}

.main-footer ul h3{
    color: #808080;
    font-size: 14px;
    font-weight: 600;
}


.main-footer li{
    list-style: none;
    margin: 1.3rem 0px;
}

.main-footer a{
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

/* mid-footer */
.mid-footer{
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(129, 129, 129, 0.157);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.mid-footer img{
    width: 70px;
}


/* bottom footer */
.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 6rem 2rem;
}

.bottom-footer button{
    border: none;
    background-color: #ffffff14;
    color: inherit;
    padding: 0.3rem 0.6rem;
    font-weight: 500;
    border-radius: 20px;
}

.bottom-footer button i{
    margin-right: 5px;
    color: #18E299;
    font-size: 10px;
}

.bottom-footer p{
    font-size: 14px;
    color: #808080;
    font-weight: 500;
}

.bottom-footer .theme-icon{
    background-color: #ffffff14;
    font-size: 12px;
    padding: 0.3rem;
    border-radius: 20px;
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.theme-icon span{
    cursor: pointer;
}
